logs/*
.trash
*.db
*.session
data/amis_editor
data/pages_temp
data/upload
data/dev
amis.json
public/soy-admin
public/amis-editor
public/amis
public/pdfjs
data/templates
data/blogs/**/.tmp
.env
public/PPTX2HTML
app.yao
node_modules
*.so
*.dll
public/yao
pnpm-lock.yaml
dist
package-lock.json
yarn.lock
debug.log
public/amis-admin/jssdk
public/amis-admin/scripts/lib
db/*
!.gitkeep